*{
    padding: 0px;
    margin: 0px;
    
}
.hero{
  width: auto;
  height: 600px;
  background-color:white;
}
.header{
    position: relative;
}
.main
{
display: inline-block;
}
.main .text
{
color: black;
font-size: 60px;
font-weight: 400;
margin-top: 30px;
margin-left: 50px;
}
.main .option
{
margin-left: 15px;
height: 80px;
line-height: 90px;
overflow: hidden;
}
.option li
{
list-style: none;
color: #face30;
font-size: 60px;
font-weight: 500;
position: relative;
top: 0;
animation: slide 12s steps(4) infinite;
}
@keyframes slide
{
100%
{
top: -360px;
}
}
.option li span
{
position: relative;
margin: 5px 0;
line-height: 90px;
}
.option li span::after
{
content: '';
position: absolute;
left: 0;
height: 100%;
width: 100%;
background: white;
border-left: 2px solid #face30;
animation: animate 3s steps(10) infinite;
}
@keyframes animate
{
40%, 60%{
    left: calc(100% + 30px);
}

100%{
    left: 0px;
}
}




.navbar{
    width: 100%;
    background-color: rgb(243, 212, 212);
    overflow: auto;
    justify-content: end;
    
}
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: rgb(124, 115, 115);
    text-decoration: none;
    font-size: 18px;
  }
  .navbar a:hover {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 25%;
  }
.carousel-inner{
    background-color:aliceblue;
}

.carousel-control-prev-icon{
    padding: 0px;
    margin-right: 160px;
}
.carousel-control-next-icon{
    padding: 0px;
    margin-left: 150px;
}
/*about section css
*/
.both_image {
    width: auto;
    
    position: relative;
  }
  
  .both_image {
    position: relative;
    z-index: 1;
    border: 2px solid black;
    height: 200px;
    margin: 50px;
  }
  
  .box {
    position: absolute;
    z-index: 1; /* gray box will be above both green and black box */
    background: lightgray;
    height: 60px;  
    width: 70%;
    left: 50px;
    top: 50px;
  }
  
  .box-2 {
    position: absolute;
    z-index: 2; /* green box will be above black box */
    background: lightgreen;
    width: 35%;
    left: 270px;
    top: -15px;
    height: 100px;
  }


/*end about section css
*/
/*Start services section*/
.services
{
    position: relative;
    text-align: center;
    color: rgb(12, 9, 9);
}
.services_1
 {
        width: auto;
        font-size: 50px;
        font-weight: 500;
        position: absolute;
        line-height: 100px;
        margin-top: 100px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
 }
/*end services section*/
/*Start skills section css
*/
.skills{
    position: relative;
    text-align: center;
    color: rgb(12, 9, 9);
    }
    .skills_1 {
        width: auto;
        font-size: 50px;
        font-weight: 500;
        position: absolute;
        line-height: 100px;
        margin-top: 40px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
/*end skills section css
*/

/*Start resume section*/
.resume{
    position: relative;
    text-align: center;
    color: rgb(12, 9, 9);
    }
.resume_1 
{
        font-size: 70px;
        font-weight: 500;
        position: absolute;
        line-height: 100px;
        margin-top: 100px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
/*end resume section*/
/*Start portfolio section css
*/
.portfolio{
box-sizing: border-box;
position: relative;
text-align: center;
color: rgb(12, 9, 9);
}
.portfolio_1 {
    font-size: 70px;
    font-weight: 500;
    position: absolute;
    line-height: 100px;
    margin-top: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  Mycontainer{
    padding-top: 5px;   
}
.row{
    width: 100%;
    height: 100%;
    margin: 0px;
}

.WebApplication {
    position: relative;
    text-align: center;
    color: white;
  }
  .pro_name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }  
  /*end portfolio section*/
  /*Start services section*/
.contact
{
    position: relative;
    text-align: center;
    color: rgb(12, 9, 9);
}
.contact_1
 {
        width: auto;
        font-size: 50px;
        font-weight: 500;
        position: absolute;
        line-height: 100px;
        margin-top: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
 }
/*end services section*/
/*Start about section*/
.about_1
{
    position: relative;
    text-align: center;
    color: rgb(12, 9, 9);
}
.about_1
 {
        width: auto;
        font-size: 50px;
        font-weight: 500;
        position: absolute;
        line-height: 100px;
        margin-top: 100px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
 }
/*end about section*/


