
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;1,400;1,600&family=Tilt+Prism&display=swap');

*{
    padding: 0px;
    margin: 0px;
    background-color:none !important;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }


  /*section header auto text*/
.hero{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 600px;
  background-color: #fff;
}

.auto_text{
  top: 25%;
  padding-top: 100px;
  width: 100%;
  overflow: hidden;
}
.auto_text .text{
  position: relative;
  padding-left: 15px;
  color:aqua;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  font-family: 'Tilt Prism', cursive;
}
.auto_text .text.first-text{
 color: #070707;
}
.text.sec-text::before,
.text.sec-text::after{
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: white;
border-left: 6px solid black;
animation: animate 4s steps(12) infinite;
}
@keyframes animate{
  40%, 60%{
      left: calc(100% + 4px) ;
  }
  100%{
      left: 0%;
  }
}
/*end section header auto text
*/
/*Start services section*/
.service
{
  position: relative;
  text-align: center;
  color: #000;
}
.service_1
 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

/*end services section*/

/*Start skills section css
*/
.skills{
     position: relative;
    text-align: center;
    color: #000;
  }
  .skills_1 {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
/*end skills section css*/
/*Start resume section*/
.resume{
  position: relative;
  text-align: center;
  color: #000;
  }
.resume_1 
{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*end resume section*/
/*Start services section*/
.portfolio
{
    position: relative;
    text-align: center;
    color: #000;
}
.portfolio_1
 {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
 }
 .portfolio_1 span{
  width: 100%;
 }
/*end portfolio section*/
/*Start rreviews section*/
.testimonial{
  position: relative;
  text-align: center;
  color: #000;
  }
.testimonial_1 
{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*end reviews section*/
/*Start blogs section*/
.blogs{
  position: relative;
  text-align: center;
  color: #000;
  }
.blogs_1 
{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*end blogs section*/

.carousel-inner{
    background-color:aliceblue;
}

.carousel-control-prev-icon{
    padding: 0px;
    margin-right: 160px;
}
.carousel-control-next-icon{
    padding: 0px;
    margin-left: 150px;
}
/*about section css
*/
.both_image {
    width: auto;
    
    position: relative;
  }
  
  .both_image {
    position: relative;
    z-index: 1;
    border: 2px solid black;
    height: 200px;
    margin: 50px;
  }
  
  .box {
    position: absolute;
    z-index: 1; /* gray box will be above both green and black box */
    background: lightgray;
    height: 60px;  
    width: 70%;
    left: 50px;
    top: 50px;
  }
  
  .box-2 {
    position: absolute;
    z-index: 2; /* green box will be above black box */
    background: lightgreen;
    width: 35%;
    left: 270px;
    top: -15px;
    height: 100px;
  }


/*end about section css
*/




/* Start portfolio section */
body {
	font-family: 'Roboto', sans-serif;
}
.gallery-title {
	font-size: 36px;
	color: #2b8a4b;
	text-align: center;
	font-weight: 500;
	margin-bottom: 70px;
	font-family: 'Roboto', sans-serif;
}
.gallery-title:after {
	content: "";
	position: absolute;
	width: 38%;
	left: 31%;
	height: 50px;
	border-bottom: 1px solid #c51403;
}
.filter-btn {
	border: none;
	outline: none;
	padding: 10px 16px;
	background-color: #146737;
	cursor: pointer;
	font-size: 18px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}
.filter-btn.active, .filter-btn:hover {
	background-color: #7f7d7d;
	color: white;
}
.port-image {
	width: 100%;
}
.galleryImg {
	margin-bottom: 0px;
}

.img-thumb {
	width: 100%;
 opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.galleryImg:hover .img-thumb {
  opacity: 0.3;
  border: 2px solid gray;
}

.galleryImg:hover .middle {
  opacity: 1;
}
.zoomIcon {
  background-repeat: no-repeat;
  color:black;
  font-size: 24px;
  text-align: center;
  padding: 2px 2px;
}
.pd {
	padding: 2px;
}

  /*Start services section*/
.contact
{
    position: relative;
    text-align: center;
    color: rgb(12, 9, 9);
}
.contact_1
 {  
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
 }
/*end services section*/
/*Start about section*/
.about
{
    position: relative;
    text-align: center;
    color: rgb(12, 9, 9);
}
.about_1
 {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
 }

.follow_us{
  font-size: 18px;
  color: #000;

}
.follow_us ul li{
  list-style: none;
  text-decoration: none;
  border-radius: 5%;
}
.follow_us ul li span:hover{
  color: #0bf50b;
  
}

/*end about section*/


